.our-service__service-box {
  width: inherit;
  height: 538px;
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 38px;

  @media screen and (max-width: 1320px) {
    height: 770px;
  }

  @media screen and (max-width: 710px) {
    overflow: scroll;
    flex-wrap: nowrap;
    height: 270px;

    &::-webkit-scrollbar {
      display: none;
    }

    & > .service {
      flex-shrink: 0;
    }
  }
}
