@use 'sass:map';
@use '../../../../styles/colors';

.staff-card__angles--left-top {
  border-left: 1px solid map.get(colors.$mainColors, 'blue-color-100');
  border-top: 1px solid map.get(colors.$mainColors, 'blue-color-100');
  left: 20px;
  top: 20px;
}