@use 'sass:map';
@use '../../../../styles/colors';

.staff-card__angles--left-bottom {
  border-left: 1px solid map.get(colors.$mainColors, 'blue-color-100');
  border-bottom: 1px solid map.get(colors.$mainColors, 'blue-color-100');
  left: 20px;
  bottom: 20px;
}