@use '../../../../../../../styles/text-formatter' as tf;

.header__nav__base-links__inner-block__logo {
  margin-left: 24px;
  width: 312px;
  height: 62px;
  margin-right: auto;
  @include tf.text-formatter('nav-logo');
}