.staff-card--hover {
  & .staff-card__container-for-avatar, & .staff-card__txt-info {
    transition: transform 0.5s ease-in-out;
  }

  &:hover .staff-card__container-for-avatar, &:hover .staff-card__txt-info {
    transform: translateY(-320px);
  }

  &:hover .staff-card__txt-info {
    padding-top: 43px;
    transition: 0.5s;
  }
}
