.staff-card--hover {
  & .staff-card__container-for-avatar, & .staff-card__txt-info {
    transition: transform .5s ease-in-out;
  }

  &:hover .staff-card__container-for-avatar, &:hover .staff-card__txt-info {
    transform: translateY(-320px);
  }

  &:hover .staff-card__txt-info {
    padding-top: 43px;
    transition: .5s;
  }

  &:hover .staff-card__angles {
    opacity: 1;
    transition: .5s;
  }

  @media screen and (max-width: 390px) {
    & .staff-card__container-for-avatar, & .staff-card__txt-info {
      transition: none;
    }

    &:hover .staff-card__container-for-avatar, &:hover .staff-card__txt-info {
      transform: none;
    }

    &:hover .staff-card__txt-info {
      padding-top: 0;
      transition: none;
    }

    &:hover .staff-card__angles {
      opacity: 0;
      transition: none;
    }
  }
}
