@use 'sass:map';
@use '../../../styles/colors';

.staff-card {
  width: 312px;
  height: 414px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 12px rgba(33, 33, 33, 0.12);
  overflow: hidden;
  position: relative;
}
