@use 'sass:map';
@use '../../../styles/colors';

.staff-card {
  width: 312px;
  height: 414px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 12px rgba(33, 33, 33, 0.12);
  overflow: hidden;
  position: relative;
  background-color: #fff;
  flex-shrink: 0;

  container-type: inline-size;

  @media screen and (max-width: 390px) {
    width: 250px;
    height: 329px;
  }

  @container (max-width: 250px) {
    .staff-card__container-for-avatar {
      width: 250px;
      height: 235px;
    }

    .staff-card__container-for-avatar__avatar {
      height: 235px;
    }

    .staff-card__txt-info {
      width: 218px;
      margin-top: -95px;

      & > .staff-card__appeal {
        margin-top: 20px;
        width: inherit;
      }

      & > .staff-card__achievement {
        width: inherit;
        text-align: center;
        margin-top: 20px;
      }
    }

    .staff-card__full-name {
      width: 218px;
    }
  }
}
