.staff-card--hover {
  & .staff-card__container-for-avatar, & .staff-card__txt-info {
    transition: transform .5s ease-in-out;
  }

  &:hover .staff-card__container-for-avatar, &:hover .staff-card__txt-info {
    transform: translateY(-320px);
  }

  &:hover .staff-card__txt-info {
    padding-top: 45px;
    transition: .5s;

    @media screen and (max-width: 390px) {
      padding-top: 105px;
    }
  }

  &:hover .staff-card__angles {
    opacity: 1;
    transition: .5s;
  }
}
