.about-us {
  width: 100%;
  height: 584px;
  margin: 80px auto 0;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  outline: 1px dashed crimson;
}
