@use 'sass:map';
@use '../../../styles/colors';

.burger-menu {
  position: absolute;
  top: 100px;
  right: 24px;
  width: 290px;
  height: 0;
  background: map.get(colors.$mainColors, 'colors-black-text');
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 24px;
  transition: .5s ease;
  padding: 0;

  & > a {
    color: transparent;
    transition: .2s ease;
  }

  & > .burger-menu__button-close {
    background: none;
  }
}
