@use 'sass:map';
@use '../../../styles/colors';

.burger-menu--open {
  height: 535px;
  padding-top: 50px;
  padding-left: 26px;
  transition: .5s ease;

  & > a {
    display: inline-block;
    color: map.get(colors.$mainColors, 'white-color-100');
    transition: 1s ease;
  }

  & > .burger-menu__button-close {
    background: url(/images/header/icons/close_icon.svg) no-repeat center center;
    background-size: contain;
  }
}
