.header {
  width: 100%;
  height: 870px;
  background: linear-gradient(#222222A3, #222222A3), url(/images/header/slideshow/e8de0ac5dacd4af1cf0a2f545dbc79ddd17170a0.webp) no-repeat bottom center;
  background-size: cover;
  position: relative;

  outline: 1px dashed crimson;
}
