.header {
  width: 100%;
  height: 870px;
  background: linear-gradient(#222222A3, #222222A3), url(/images/header/slideshow/e8de0ac5dacd4af1cf0a2f545dbc79ddd17170a0.webp) no-repeat bottom center;
  background-size: cover;
  position: relative;

  @media screen and (max-width: 1072px) {
    & .header__nav__base-links__inner-block__link {
      display: none;
    }

    & .header__nav__base-links__inner-block__burger-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: end;
    }
  }
  
  @media screen and (max-width: 834px) {
    .custom-style__style-one {
      font-size: 24px;
    }

    .custom-style__style-two {
      font-size: 50px;
    }

    .custom-style__style-three {
      font-size: 18px;
    }
  }

  @media screen and (max-width: 541px) {
    & .header__nav__communication-unit__inner-block__contact-email {
      display: none;
    }
  }

  @media screen and (max-width: 390px) {
    .custom-style__style-one {
      font-size: 18px;
    }

    .custom-style__style-two {
      font-size: 30px;
    }

    .custom-style__style-three {
      font-size: 16px;
    }
  }
}
