.header {
  width: 100%;
  height: 870px;
  background: url(/images/header/slideshow/e8de0ac5dacd4af1cf0a2f545dbc79ddd17170a0.webp) no-repeat bottom center;
  background-size: cover;
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.64);
    top: 0;
  }

  outline: 1px dashed crimson;
}
