@use 'sass:map';
@use 'colors';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@mixin universal-text-formatter {
  font: {
    family: "Nunito Sans", sans-serif;
    optical-sizing: auto;
    style: normal;
    variation-settings: "wdth" 100, "YTLC" 500;
  }
}

@mixin text-formatter($element) {
  @if ($element == 'button') {
    @include universal-text-formatter;
    font: {
      weight: 900;
      size: 14px;
    }
    text-transform: uppercase;
    color: map.get(colors.$mainColors, 'white-color-100');
  } @else if ($element == 'service-heading') {
    @include universal-text-formatter;
    font: {
      weight: 800;
      size: 20px;
    }
    color: map.get(colors.$mainColors, 'colors-black-text');
  } @else if ($element == 'service-description') {
    @include universal-text-formatter;
    display: inline-block;
    width: 348px;
    font: {
      weight: 300;
      size: 14px;
    }
    line-height: 120%;
    text-align: center;
    color: map.get(colors.$mainColors, 'colors-black-text');white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } @else if ($element == 'review-company') {
    @include universal-text-formatter;
    font: {
      weight: 300;
      size: 14px;
    }
    line-height: 120%;
    color: map.get(colors.$mainColors, 'colors-black-text');
  } @else if ($element == 'review-name') {
    @include universal-text-formatter;
    font: {
      weight: 700;
      size: 20px;
    }
    line-height: 150%;
    color: map.get(colors.$mainColors, 'colors-black-text');
  } @else if ($element == 'review-body') {
    @include universal-text-formatter;
    font: {
      weight: 400;
      size: 14px;
    }
    line-height: 150%;
    color: map.get(colors.$mainColors, 'colors-black-text');
  } @else if ($element == 'staff-card-full-name') {
    @include universal-text-formatter;
    font: {
      weight: 700;
      size: 16px;
    }
    line-height: 120%;
    color: map.get(colors.$mainColors, 'colors-black-text');
    margin-top: 24px;
    width: 280px;
    text-align: center;
    background-color: #fff;
  } @else if ($element == 'staff-card-job-title') {
    @include universal-text-formatter;
    font: {
      weight: 300;
      size: 14px;
    }
    line-height: 120%;
    color: map.get(colors.$mainColors, 'colors-black-text');
    margin-top: 10px;
    width: 280px;
    text-align: center;
  } @else if ($element == 'staff-card-appeal') {
    @include universal-text-formatter;
    font: {
      weight: 300;
      size: 14px;
    }
    line-height: 120%;
    color: map.get(colors.$mainColors, 'colors-black-text');
    margin-top: 40px;
    width: 265px;
    text-align: center;
  } @else if ($element == 'staff-card-achievement') {
    @include universal-text-formatter;
    font: {
      weight: 600;
      size: 16px;
    }
    line-height: 120%;
    color: map.get(colors.$mainColors, 'colors-black-text');
    margin: 40px auto 0;
    width: 233px;
    display: inline-block;
  } @else {
    @error 'неверно указан стилизуемый элемент ("#{$element}")';
  }
}