@use "sass:map";
@use '../../../styles/colors';

.review {
  width: 648px;
  height: 244px;
  box-sizing: border-box;
  padding: 32px;
  background-color: map.get(colors.$mainColors, 'white-color-100');
  box-shadow: 2px 2px 10px rgba(33, 33, 33, 0.15);
  display: grid;
  grid-template-columns: 80px 401px 1fr;
  column-gap: 24px;
  grid-template-rows: 80px 1fr;
  row-gap: 16px;
  align-items: center;

  container-type: inline-size;

  @media screen and (max-width: 390px) {
    width: 340px !important;
    height: 303px;
    padding: 24px;
    grid-template-columns: 50px 226px 0;
    column-gap: 16px;
    grid-template-rows: 50px 1fr;
    row-gap: 16px;
  }

  @container (max-width: 390px) {
    .review {
      &__image, &__no-image {
        width: 50px;
        height: 50px;
        justify-self: center;
      }

      &__body {
        width: 292px;
        height: 189px;
      }

      &__pen {
        display: none;
      }
    }
  }
}
