.reviews__buttons {
  max-width: 1320px;
  margin: 32px auto 0;
  display: flex;
  gap: 24px;

  @media screen and (max-width: 1320px)  {
    width: 100%;
  }

  @media screen and (max-width: 395px)  {
    flex-direction: column;
  }
}
