.reviews {
  width: 100%;
  height: 588px;
  margin: 80px auto 0;
  background: url(/images/reviews/bg_climbs.webp) center center no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding-top: 80px;
}
