.our-service {
  width: 1320px;
  height: 803px;
  margin: 80px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1320px) {
    width: 710px;
    height: 1050px;

    & .our-service__desc {
      width: 710px;
    }
  }

  @media screen and (max-width: 710px) {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 24px;
    height: 500px;
  }
}
