@use '../../../../../../../styles/text-formatter' as tf;

.header__nav__communication-unit__inner-block__contact-email {
  width: 156px;
  height: 20px;
  box-sizing: border-box;
  padding: 1.5px;
  display: inline-block;
  @include tf.text-formatter('nav-contact-telephone-and-email');
  background: url(/images/header/icons/email.svg) no-repeat left 5px;
  background-size: 16.67px auto;
}