.content__show {
  width: 40px;
  height: 40px;
  background: url(/images/news/eye.svg) no-repeat center center, linear-gradient(#fff, #fff);
  background-size: 20.58px 20px;
  position: absolute;
  top: 115px;
  left: 191.42px;
  opacity: 0;
}
