@use 'sass:map';
@use '../../../styles/colors';

.service {
  position: relative;
  width: 412px;
  height: 250px;
  padding: 20px;
  box-sizing: border-box;
  background: map.get(colors.$mainColors, 'white-color-100');

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: .2s;

  container-type: inline-size;

  @media screen and (max-width: 1320px) {
    width: 336px;
    height: 229px;
  }

  @media screen and (max-width: 390px) {
    width: 250px;
    height: 215px;
  }

  @container (max-width: 336px) {
    .service__heading {
      display: inline-block;
      width: 272px;
      text-align: center;
      margin: 0 auto;
    }

    .service__description {
      display: inline-block;
      width: 272px;
      margin: 0 auto;
      font-size: 14px;
    }
  }

  @container (max-width: 250px) {
    .service__heading {
      width: 218px;
    }

    .service__description {
      width: 218px;
    }
  }
}
