@use 'sass:map';
@use '../../../../styles/colors';

.service__angles--right-bottom {
  border-right: 1px solid map.get(colors.$mainColors, 'white-color-100');
  border-bottom: 1px solid map.get(colors.$mainColors, 'white-color-100');
  right: 20px;
  bottom: 20px;
}