@use 'sass:map';
@use '../../../../styles/colors';

.service__angles--left-top {
  border-left: 1px solid map.get(colors.$mainColors, 'white-color-100');
  border-top: 1px solid map.get(colors.$mainColors, 'white-color-100');
  left: 20px;
  top: 20px;
}