@use 'sass:map';
@use '../../../../../../../styles/colors';

.header__nav__base-links__inner-block__burger-menu {
  width: 18px;
  height: 16px;
  margin-right: 24px;
  display: none;

  & > div {
    height: 2px;
    background: map.get(colors.$mainColors, 'white-color-100');

    &:nth-child(1), &:nth-child(3) {
      width: 100%;
    }

    &:nth-child(2) {
      width: 60%;
    }
  }
}