.content--hover:hover {
  transition: .2s;

  & > .content__show {
    transition: .2s;
    opacity: 1;
  }

  & > .content__angles {
    transition: .2s;
    opacity: 1;
  }

  & > .content__cover-img {
    transition: .2s;
    opacity: 1;
  }
}
