@use 'sass:map';
@use '../../../styles/colors';

.content--hover:hover {
  transition: .2s;

  & > .content__show {
    transition: .2s;
    opacity: 1;
  }

  & > .content__angles {
    transition: .2s;
    opacity: 1;
  }

  & > .content__cover-img {
    transition: .2s;
    opacity: 1;
  }

  & > .content__heading {
    transition: .2s;
    color: map.get(colors.$mainColors, 'blue-color-100');
  }
}
