@use 'sass:map';
@use '../../../styles/colors';

.button--active:active {
  color: map.get(colors.$mainColors, 'colors-black-text');
  background-color: map.get(colors.$mainColors, 'white-color-300');
  border-color: map.get(colors.$mainColors, 'white-color-300');
}
