@use 'sass:map';
@use '../../../styles/color';
@use '../../../styles/text-formatter';

.button {
  outline: none;
  height: 49px;
  box-sizing: border-box;
  padding: 0 24px;
  background-color: map.get(color.$mainColors, 'blue-color-100');
  border: 2px solid map.get(color.$mainColors, 'blue-color-100');
  @include text-formatter.text-formatter('button');
}
